.links {
  margin: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
}
.center {
  margin: auto;
  width: 50%;
}
.right{
  float: right;
}
.profilepic {
  width: 300px;
  height: 300px;
  padding: 10px;
}
.pic{
  width:150px;
  height:150px;
}

.form{
  background-color: black;
  display: inline-block;
}
.part{
  display: inline-block;
}

.input{
  color: white
}