body{
  background-image: url("https://66.media.tumblr.com/34695431cbdb61326c1b6d38d36a6fe2/tumblr_nqhnjvSfKi1sa5jn6o4_1280.jpg")
}
.links {
  margin: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;
}
.center {
  margin: auto;
  width: 50%;
}
.right{
  float: right;
}
.profilepic {
  width: 400px;
  height: 400px;
  
}
.pic{
  width:150px;
  height:150px;
}

.form{
  background-color: black;
  display: inline-block;
}
.part{
  display: inline-block;
}

.input{
  color: white
}
.padding{
  padding: 30px;
}
.pad{
  padding: 5px;
}
.border{
  border-style: solid;
}
.borderthick{
  border-style: solid;
  border-width: 10px;
}
hr{
  border-color: black;
}
.white{
  color: white;
}